.page-title {
  margin-block-end: 2rem;
  h1 {
    display: inline-block;
  }
  text-align: left;
  .punch-line {
    height: 3px;
    border-radius: 3px;
    width: 90%;
    background: var(--punch-color);
  }
}
